<!DOCTYPE html>

<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-repeat: no-repeat;
        opacity: 0.8;
        background-size: cover;
        
   
        background-image: url("https://images.wallpaperscraft.com/image/nokia_logitech_mobile_phone_keyboard_touch_screen_73407_1920x1080.jpg");
        
    }
  
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="color: #04143d;font-family: ubuntu;">&#129321 MoBo_AmOUR!</a>
       
      
      
      </nav>
    <div class="wrapper" style="margin-top:17%;margin-left:76%;">
        <!-- <h3 style="color: white;margin-left:20px;font-family: ubuntu;">LoGin HerE!</h3><br> -->
        <form name="myform" method="post" action="http://127.0.0.1:5000/mainpage">
        
        
        <input type="text" style="border-radius: 25px;border: 2px solid #fff;padding: 20px; width: 200px;height: 15px" name="user" placeholder="Username!" required>
        <br><br>
        <input type="password" style="border-radius: 25px;border: 2px solid #fff;padding: 20px; width: 200px;height: 15px" name="passer" placeholder="Password!" required>
        <br><br>
        <button class="btn btn-primary " style="margin-left:10px;" type="submit">Sign In</button> 
        <button class="btn btn-danger " style="margin-left:10px;" type="submit">Sign Up</button>
        </form>
        <br><br>
       
    </div>
</body>

</html>